<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:installLocation="auto"
    package="de.tgoll.projects.bzf">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.vending.BILLING" />

    <application
        android:name=".BZFTrainerApplication"
        android:allowBackup="true"
        android:description="@string/app_description"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@drawable/bzf"
        android:label="@string/app_name"
        android:process=":bzf"
        android:supportsRtl="true"
        android:theme="@style/AppThemeLight">
        <activity
            android:name=".TitleActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".StatisticsFragment"
            android:parentActivityName=".TitleActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".CatalogueFragment" />
        </activity>
        <activity android:name=".SettingsFragment"
            android:label="@string/settings"
            android:screenOrientation="portrait"
            android:parentActivityName=".TitleActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".CatalogueFragment" />
        </activity>
        <activity android:name=".SimulatorFragment"
            android:label="@string/simulator"
            android:parentActivityName=".TitleActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.tgoll.projects.bzf.TitleActivity" />
        </activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="e7439a5e208cdf2d7c2958b8362f8707f9b2fa66" />
    </application>


</manifest>
